<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Hey there {{user}} ! </h1>


    <div class="container">

    <div class="row">

        <table class="table table-striped ">
            <tr class ="row">
                <form action="{{ url_for('login') }}" method="GET">
                    <button type="submit" class="btn-danger btn pull-right" > Disconnet </button>
                </form>
            </tr>
        {% for key, value in tweets.items() %}

            <!--  Key: {{key}}<br /> -->

            <tr class="row">
                <td class="col-md-10"> {{value}}   </td>
                <td class="col-md-2">
                    <div class="bs-example">
                        <div class="btn-group btn-group-sm btn-group-justified " role="group" aria-label="Basic example">


                                <div class="btn-group" role="group">
                                    <form action="{{ url_for('polarity') }}" method="POST">
                                        <button type="submit" class="btn btn-success" name="pola" value="positive,{{key}}"> <span class="glyphicon glyphicon-plus"></span></button>
                                    </form>
                                </div>

                                <div class="btn-group" role="group">
                                    <form action="{{ url_for('polarity') }}" method="POST">
                                        <button type="submit" class="btn btn-info" name="pola" value="objective,{{key}}"><span class="glyphicon glyphicon-adjust"></span></button>
                                    </form>
                                </div>

                                <div class="btn-group" role="group">
                                    <form action="{{ url_for('polarity') }}" method="POST">
                                        <button type="submit" class="btn btn-danger" name="pola" value="negative,{{key}},{{tweets}}"><span class="glyphicon glyphicon-minus"></span></button>
                                    </form>
                                </div>

                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
        <form action="{{ url_for('next_page') }}" method="POST">
                    <div class="bs-example">
                        <div class="btn-group btn-group-sm btn-group-justified " role="group" aria-label="Basic example">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-secondary active" name="sid" value="{{sid}}" type="submit" ><span class="glyphicon glyphicon-step-forward"></span></button></div>
                            </div>

                    </div>
        </form>

    </div>
    </div>
</head>
<body>

</body>
</html>
