<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Hey there ! this is page {{ }} </h1>

    <!--<h5> Connected to ES : {{ es_info[0] }}</h5>-->

    <div class="container">

    <div class="row">
        <table class="table table-striped ">
        {% for key, value in tweets.items() %}

            <!--  Key: {{key}}<br /> -->
            <tr class="row">
                <td class="col-md-10"> {{value}}   </td>
                <td class="col-md-2">
                    <div class="bs-example">
                        <div class="btn-group btn-group-sm btn-group-justified " role="group" aria-label="Basic example">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-adjust"></span></button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button></div>
                            </div>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    </div>
</head>
<body>

</body>
</html>